:root {
    --base-clr: rgb(30, 30, 30);
    --base-clr2: rgb(35, 35, 35);
    --base-clr3: rgb(50, 50, 50);
    --hover-clr: #ccc;
    --accent-clr: #ebebeb;
    --text-clr: #e6e6e6;
    --text-clr2: #000000;
    --hover-clr2: rgba( 255, 255, 255, 0.15 );
}

header p {
    display: none;
}
body {
    background-color: var(--base-clr3);
    overflow: hidden;
    user-select: none;
    font-family: 'Segoe UI';
    color: var(--text-clr);
    margin: 0;
    padding: 0;
}
#Home {
    display: flex;
    background-color: var(--base-clr3);
    padding: 5px 15px;
}
#Home img {
    padding: 5px 5px;
    margin: 5px;
    cursor: pointer;
}
#Home img:hover {
    border-radius: 5px;
    background-color: var(--hover-clr2);
}
#addressBar, #searchBar {
    margin: 5px;
    padding: 0px 5px;
    padding-left: 40px;
    width: 75%;
    background-color: var(--hover-clr2);
    color: var(--text-clr);
    font-size: 17px;
    font-weight: bold;
    border: 1px solid var(--hover-clr);
    border-radius: 5px;
    font-family: 'Fira Code', monospace;
}
#Home input::placeholder {
    font-weight: bold;
    color: var(--hover-clr);
}
#HomeButton, #SearchButton {
    position: absolute;
    left: 16%;
    cursor: pointer;
}
#SearchButton {
    position: absolute;
    left: 80.5%;
}
#Home div:last-child {
    margin-left: auto;
    display: flex;
    justify-content: end;
}
#searchBar {
    width: 100%;
}
#Body {
    display: flex;
}
#Body nav {
    width: 16%;
    height: 567px;
    padding: 10px;
    border: 3px solid var(--base-clr3);
    background-color: var(--base-clr2);
    border-radius: 10px;
}
#Body nav p{
    margin: 0;
}
#Body nav ul {
    list-style: none;
    padding: 5px;
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--text-clr);
}
#Body nav ul li, #Body nav ul a li {
    margin: 5px 0px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}
#Files {
    width: 65%;
    height: 567px;
    padding: 10px;
    border: 3px solid var(--base-clr3);
    background-color: var(--base-clr);
    border-radius: 10px;
}
#Files div {
    display: flex;
    margin: 5px 0px;
    padding: 0px 10px;
    cursor: pointer;
}
#Files div:hover {
    border: 1px solid var(--base-clr3);
    background-color: var(--hover-clr2);
    border-radius: 10px;
}
#Files div p:hover {
    font-weight: bold;
}
#Files div img {
    margin-right: 10px;
}
#Files div p {
    margin: 0;
}
#Details {
    width: 25%;
    height: 567px;
    padding: 10px;
    border: 3px solid var(--base-clr3);
    background-color: var(--base-clr2);
    border-radius: 10px;
    justify-items: center;
}
#Photo {
    display: none;
    background-color: var(--base-clr);
    border: 2px solid var(--accent-clr);
    border-radius: 10px;
    margin-bottom: 0px;
    width: 100%;
}
#Details div:first-child {
    background-color: var(--base-clr);
    border: 2px solid var(--accent-clr);
    border-radius: 10px;
    margin-bottom: 0px;
    width: 100%;
    min-height: 153px;
    align-content: center;
}
#Details h3 {
    text-align: center;
    margin: 5px;
}
#Details div {
    justify-items: center;
}
#Details div p {
    margin: 5px;
    color: yellowgreen;
}
#Ico {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    max-height: 100px;
}
#Console {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 31%;
    width: 40%;
    background-color: var(--base-clr2);
    border: 1px solid var(--text-clr);
}
#Console hr {
    margin: 0px 10px;
}
#CHead, #ImageHead {
    padding: 5px;
    display: flex;
    background-color: rgb(240, 240, 240);
    color: var(--text-clr2);
}
#CHead img, #ImageHead img {
    padding-right: 10px;
}
#CHead nav, #ImageHead nav {
    padding: 4px;
    display: flex;
}
#CHead nav img, #ImageHead nav img {
    padding-right: 10px;
}
#CHead nav p, #ImageHead nav p {
    margin: 0;
}
#CHead div, #ImageHead div {
    padding: 5px;
    margin-left: auto;
}
#CHead p, #ImageHead p {
    margin: 0;
}
#CHead div ul, #ImageHead div ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#CHead div ul li, #ImageHead div ul li {
    cursor: pointer;
    margin-left: 10px;
}
#CBody {
    color: yellowgreen;
    padding: 1.5%;
    font-family: 'Fira Code', monospace;
}
#CBody p {
    display: none;
    margin: 0;
}
#CInput {
    position: absolute;
    bottom: 0;
    color: var(--text-clr);
}
#CInput input {
    width: 470px;
    margin: 0 10px;
    padding: 1px 10px;
    background-color: var(--base-clr2);
    border: none;
    color: var(--text-clr);
    font-family: 'Fira Code', monospace;
    font-size: 17px;
}
#CInput input:focus {
    outline: none;
}
#ImageFS {
    display: none;
    position: absolute;
    bottom: 12.5%;
    right: 15%;
    height: 75%;
    width: 64.5%;
    background-color: var(--text-clr2);
    border: 1px solid var(--text-clr);
}
#ImageBody {
    align-content: center;
    width: 100%;
    height: 91.5%;
}
#ImageBody img {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    max-height: 100%;
}


#ContextMenu {
    position: absolute;
    display: none;
    background: var(--accent-clr);
    border: 1px solid var(--hover-clr);
    border-radius: 5px;
    width: 180px;
    z-index: 1000;
    color: black
}
#ContextMenu ul {
    list-style: none;
    padding: 5px;
    margin: 0;
}
#ContextMenu ul li {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.2s;
}
#ContextMenu ul li:hover {
    border-radius: 5px;
    background-color: var(--hover-clr);
}
#ContextMenu hr {
    margin: 5px 0;
    border: none;
    border-top: 1px solid var(--hover-clr);
}
#Icon {
    display: block;
}